COMPOSE_PROJECT_NAME=lemdiklat-lms

POSTGRES_DB=lemdiklat
POSTGRES_USER=lemdiklat
POSTGRES_PASSWORD=change-me
POSTGRES_PORT=5432

KEYCLOAK_DB=keycloak
KEYCLOAK_DB_USER=keycloak
KEYCLOAK_DB_PASSWORD=change-me
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=change-me
KEYCLOAK_PORT=8080

REDIS_PORT=6379

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=change-me
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
