NODE_ENV=development
PORT=4000
DATABASE_URL=postgresql://lemdiklat:change-me@localhost:5432/lemdiklat?schema=public
REDIS_URL=redis://localhost:6379
S3_ENDPOINT=http://localhost:9000
S3_REGION=us-east-1
S3_BUCKET=lemdiklat-lms
S3_ACCESS_KEY_ID=minioadmin
S3_SECRET_ACCESS_KEY=change-me
KEYCLOAK_ISSUER=http://localhost:8080/realms/lemdiklat
